.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
}
